POSTGRES_DB=avito_db
POSTGRES_USER=avito_user
POSTGRES_PASSWORD=avito_password

SPRING_PROFILES_ACTIVE=dev
SPRING_DATASOURCE_URL=jdbc:postgresql://avito-db:5432/avito_db?currentSchema=avito
SPRING_DATASOURCE_USERNAME=avito_user
SPRING_DATASOURCE_PASSWORD=avito_password

APP_IMAGES_DIR=/images